[filter "revision"]
	smudge = ./.git_filter_revision_smudge.sh
	clean = /bin/sed -e 's/\\$Revision: [^$]*\\$/$Revision$/g'
	# smudge = /bin/sed -e 's/\\$Revision\\$/$Revision$(GIT_EXEC_PATH=/usr/lib/git-core/ /usr/bin/git describe --match svn-r)'$/g'
